* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(./Ubuntu-R.ttf);
  font-family: "ubuntu";
}

body {
  z-index: -5;
  font-family: "ubuntu";
  background: rgb(240, 240, 240);
  cursor: 'https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png';
  overflow-x: hidden;
}